@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
    
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 20px;
    cursor: pointer;
}

.brand img{
    width: 60px;
   
}   
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
   
}

.container{
    background-color: black;
    min-height: 72vh;
    display: flex;
    color: rgb(154, 253, 200);
    font-family: 'Varela Round', sans-serif;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("./assets/img/black.jpg");
}

.bottom{
 position: sticky;
 display: flex;
 bottom:0;
 background-color: black;
 color: white;
 justify-content: center;
 align-items: center;
 height: 70px;
 flex-direction: column;
 border-radius: 12px;
}

.icons{
     margin: 14px 0;
     font-size: 25px;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
}

.songItem{
    height: 50px;
    width: 80%;
    display: flex;
    background-color: white;
    color: black;

}

.songItem img{

}